page-login {

.content {
    background-color:#E8EAF6
}

.list, .item{
    background: transparent
}

.splash-info {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;   
  }

  .splash-logo {
    margin: auto;
    background: url('/assets/imgs/logo.png') no-repeat transparent;
    background-size: 100%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  .validator-error {
    color: color($colors, danger);
    padding-top: 8px;
  }


}
