page-company-registration {

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        display: block;

    }

    .div1{
        background:  color($colors, grays, base);
    }
    h3{
        text-align: center;
    }

}
